:root {
  --bg-color: #191b1f;
  --bg-weather: #292929;
  --container-width: 452px;
  --input-color: #c2d4d3;
  --font-color: white;
}
* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: var(--bg-color);
}

.main-container {
  max-width: var(--container-width);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.weather-container {
  background-color: var(--bg-weather);
  border-radius: 28px;
  padding: 40px 47px;
  color: var(--font-color);
  display: flex;
  flex-direction: column;

  input {
    border-radius: 25px;
    padding: 10px 20px;
    border: none;
    background-color: var(--input-color);
    max-width: 342px;
    height: 34px;
    font-size: 16px;

    &:focus {
      outline: none;
    }
  }

  .text-info {
    font-size: 18px;
    margin-top: 40px;

    p {
      margin: 4px;
    }
    .weath {
      display: flex;
      align-items: center;
      gap: 9px;

      .rainCloud {
        width: 18px;
      }
    }

    .mintmp {
      display: flex;
      align-items: center;
      gap: 9px;
    }

    .maxtmp {
      display: flex;
      align-items: center;
      gap: 9px;
    }
  }
}

.weather {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;

  .icon-temp {
    font-size: 42px;

    h1 {
      margin: 0;
    }

    img {
      height: 150px;
    }
  }

  .city-day {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 75px;
    font-size: 26px;
  }

  hr {
    width: 341px;
  }
}
